<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Туристическое агентство</title>
  <link rel="stylesheet" href="./css/style.css" />
  <script src="./js/find_tours.js"></script>
</head>

<body>
  {{template "header.tmpl"}}
    <main>
  <form id="find_tour">
    <label for="chillPlace">Место отдыха:</label>
    <input type="text" id="chillPlace">

    <label for="fromPlace">Место отправления:</label>
    <input type="text" id="fromPlace">

    <label for="date">Дата отправления:</label>
    <input type="datetime-local" id="date">

    <label for="duration">Продолжительность:</label>
    <input type="number" id="duration">

    <label for="cost">Стоимость (от):</label>
    <input type="number" id="cost">

    <label for="touristsNumber">Количество туристов:</label>
    <input type="number" id="touristsNumber">

    <label for="chillType">Тип отдыха:</label>
    <select id="chillType">
      <option value="элитный">Элитный</option>
      <option value="городской">Городской</option>
      <option value="пляжный">Пляжный</option>
      <option value="активный">Активный</option>
      <option value="необычный">Необычный</option>
    </select>

    <input type="submit" value="Найти туры">
  </form>

  <script>
   document.getElementById('find_tour').addEventListener('submit', function(event) {
         event.preventDefault();
         tour_submitter(event);
   });
  </script>
</main>
  {{ template "footer.tmpl" }}
</body>

</html> 
