{{ define "footer.tmpl" }}
   <footer>
      <section class="cta">
        <h2>Забронируйте свой тур сегодня!</h2>
        <p>Мы предлагаем широкий выбор туров по всему миру. Свяжитесь с нами сегодня, чтобы забронировать свой идеальный тур.</p>
        <a href="#" class="button">Забронировать сейчас</a>
      </section>
    <p>Туристическое агентство | Все права защищены</p>
  </footer>
{{ end }}
