{{ define "header.tmpl" }}
<header>
    <nav>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Туры</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
    <div class="banner">
        <h1>Добро пожаловать в наше туристическое агентство!</h1>
        <p>Мы поможем вам найти идеальный тур для вашего следующего путешествия.</p>
        <a href="#" class="button">Найти тур</a>
    </div>
</header>
{{ end }}