{{ define "header.tmpl" }}
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/tours">Туры</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
    <div class="banner">
        <h1>Добро пожаловать в наше туристическое агентство!</h1>
        <p>Мы поможем вам найти идеальный тур для вашего следующего путешествия.</p>
        <a href="/find" class="button">Найти тур</a>
    </div>
</header>
{{ end }}