<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список туров</title>
  <link rel="stylesheet" href="./css/view_tours_style.css" />
  <link rel="stylesheet" href="./css/style.css" />
  <script src="./js/view_tours.js"></script>
</head>
<body>
  {{template "header.tmpl"}}
  <main>
  <h1>Список туров</h1>
  <br>
        <div class="tours" id="tours">

        </div>

        {{ range .Tours }}

        <script>
            document.getElementById('tours').appendChild(createTourCard({{ .FromPlace }}, {{ .ChillPlace }}, {{ .Cost }}, {{ .Date }}, {{ .Duration }}, {{ .TouristsNumber }}, {{ .ChillType }}));
        </script>

        {{ end }}

    <div class="pagination p2">
      <ul id="pagination-list">
        <!-- Здесь будут динамически добавлены ссылки на пагинацию -->
      </ul>
    </div>

    <script>
      const currentPage = {{ .current_page }};
      pages = {{ .total_pages }};
      if ({{ .total_pages }} > 5) {
        pages = Math.ceil({{ .total_pages }} / 5);
      }
      const paginationList = document.getElementById('pagination-list');

      for (let i = 1; i <= pages; i++) {
        const linkElement = document.createElement('li');
        const anchorElement = document.createElement('a');
        anchorElement.href = 'tours?page=' + i.toString();
        linkElement.textContent = i;
        if (i === currentPage) {
          anchorElement.classList.add('is-active');
        }
        anchorElement.appendChild(linkElement);
        paginationList.appendChild(anchorElement);
        console.log(anchorElement);
      }

      const lastElement = document.createElement('li');
      const lastAnchor = document.createElement('a');
      lastElement.textContent = 'далее';
      lastAnchor.href = 'tours/next';
      lastAnchor.appendChild(lastElement);
      paginationList.appendChild(lastAnchor);
    </script>
  </main>
  {{template "footer.tmpl"}}
</body>
</html> 
